<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bkgyl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDF676B41DA61ED600153261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF676CD1DA61ED600153261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF676D81DA61ED600153261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
